/* Общие стили для всех страниц */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header, nav, main, footer {
    display: block;
    padding: 20px;
}

header, footer {
    background-color: #0b15cd;
    color: #fff;
}

.title {
    background-color: #0b15cd; /* Добавляем синий фон для титула */
    padding: 20px;
}

.title img {
    width: 150px !important; /* Уменьшаем размер логотипа вдвое с использованием !important */
    margin-left: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #0b15cd;
    text-decoration: none;
    transition: color 0.3s; /* Добавляем анимацию при изменении цвета */
}

nav ul li a:hover {
    color: #555;
}

main {
    display: flex;
}

.content {
    flex: 2;
}

.gallery {
    flex: 1;
    text-align: center;
}

.gallery img {
    width: 100%;
    margin-bottom: 10px;
}

.photo {
    float: right;
    margin-left: 20px;
}

.photo img {
    max-width: 200px;
    border-radius: 10px;
}

footer {
    text-align: center;
    clear: both;
}

/* Стили для формы обратной связи */
.contact-form {
    max-width: 400px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    margin-top: 5px;
}

button {
    background-color: #0b15cd;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s; /* Добавляем анимацию при наведении */
}

button:hover {
    background-color: #555;
}

.message {
    color: #0b15cd;
    font-size: 16px;
    margin-top: 10px;
    text-align: center;
}
}
